.contact{
display: flex;
height: 50vh;

}
.info{
    padding: 20px;
    width: 50vw;
    height: 100%;
    background-color: black;
    color: white;
}
.con_img{
    width: 50vw;
    height: 100%;
    /*background-color: pink;*/
    /*background-image: url("https://media.istockphoto.com/id/1221286093/video/social-media-logo-compilation-animation-social-network-marketing-dark-background.jpg?s=640x640&k=20&c=5kOvGkDuA3Qxw4bZWjiC6Q8-ZJExRzxm_d2d2zKMqDw=");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-color: black;*/
}

.info_phn{
    padding: 10px;
    text-align: start;
}
.info_phn img{
    height: 100px;
width: 100px;
}
.con_img img{
    height: 109%;
    width: 100%;
}
